@model IndexViewModel
@{
	ViewBag.Title = "Index";
}
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">我的記帳本</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">首頁</a>
					<li><a href="#">關於</a>
					<li><a href="#">連絡方式</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">

		<div class="well">
			<form name="formVM" method="post" class="form-horizontal">
				<div class="form-group">
					<label for="category" class="col-sm-2 control-label">類別</label>
					<div class="col-sm-10">
						<select id="category" name="Book.Kind" class="form-control">
							<option value="" selected>請選擇</option>
							<option value="0">支出</option>
							<option value="1">收入</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<div class="form-inline">
						<label for="money" class="col-sm-2 control-label">金額</label>
						<div class="col-sm-10">
							@Html.TextBoxFor(x => x.Book.Money, new { placeholder = "金額", @class = "form-control" })
							@Html.ValidationMessageFor(x => x.Book.Money, "", new { @class = "text-danger" })
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="date" class="col-sm-2 control-label">日期</label>
					<div class="col-sm-10">
						<input type="date" name="Book.Date" />
						@Html.ValidationMessage("DateCompare", new { @class = "text-danger" })

					</div>
				</div>
				<div class="form-group">
					<label for="description" class="col-sm-2 control-label">備註</label>
					<div class="col-sm-10">					
						@Html.TextAreaFor(x => x.Book.Description, new { placeholder = "備註", @class = "form-control" })
						@Html.ValidationMessageFor(x => x.Book.Description,"",new { @class="text-danger"})
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-8 col-sm-4">
						<button type="submit" class="btn btn-default">送出</button>
					</div>
				</div>
			</form>
		</div>
		@Html.Partial("contentView",Model.Books)
		<hr />
		<footer>
			<p>&copy; 2017 - <a href="#">SkillTree</a></p>
		</footer>
	</div>

@section scripts{

}